body {
	margin: 0px;
	font-family: helvetica;
	background-color: white;
}

header {
	display: flex;
	flex-direction: column;
}

#primary {
	display: flex;
	height: 100%;
}

#flex-right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 90vw;	
}

#menu {
	display: none;
	margin-left: auto;
	margin-right:auto;
}

#menu div {
  width: 12px;
  height: 3px;
  background-color: black;
  margin: 2px;
}

#links a {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	border: 2px solid black;
	border-radius: 20px;
	padding: 14px;
	margin: 14px;
	font-family: 'staatliches', cursive;
	text-decoration-line: none;
}
#links a:hover {
	color: white;
	background-color: black;
	border: 2px solid white;
	cursor: pointer;
}
#links {
	display:flex;
	flex-direction: column;
	background-color: white;
	width: 10vw;
	border-right: 2px solid black;
}

section {
	padding: 14px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.content {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

article {
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;

}

.hidden {
	display: none;
}

.hidden1 {
	display: none;
}

.preferiti {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
    justify-content: flex-start;
}

h2{
	display: block;
	font-family: 'Lexend', sans-serif;
}

.principle {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.show1 {
	padding: 10px;
	display: flex;
	justify-content: flex-end;
}

.imgEvent {
	display: flex;
	max-width: 100%;
}

.details {
	display: none;
}

.show {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 15px;
	margin: 10px 25px;
    flex-wrap: wrap;
    align-items: center;
	width: 20vw;
}

.show:hover {
	border: 1px solid gray;
	background-color: whitesmoke;
}

.icon {
	margin-left: 30px;
	height: 30px;
	width: 30px;
}

.icon:hover {
	height: 40px;
	width: 40px;
	cursor: pointer;
}

.info {
	margin-top: 15px;
}

.infop {
	margin-top: 15px;
}

#fav {
	display: flex;
	flex-direction: column;
}

input {
	height: 30px;
}

span {
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

h1 {
	font-family: 'Dosis', sans-serif;
	font-size:  4em;
	margin: 14px;
	text-shadow: 3px 3px 5px white; 
	z-index: 1;
}

strong {
	font-family: 'Acme', sans-serif;
	font-size: 1.5em;
}

footer {
	display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid black;
    padding: 50px;
    color: white;
    background-color: dimgray;
}
 
 @media (max-width: 600px){
	 footer {
		 font-size: 10px;
	 }
	 .content {
		flex-direction: column;
		align-items: flex-start;
	 }
	 #links a{
		display: none;
	 }
	 #menu {
		display: block;
	 }
	 span {
		 font-size: 15px;
	 }
 }
 